
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: none;
  color: #3182ce;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #6FAF1F;
}

.paginationActive a {
  color: white;
  background-color: #F9AB00;
}

.paginationDisabled a {
  color: #3182ce;
  background-color: rgb(230, 227, 227);

}
